.contact {
    padding: 5rem 2rem;
    background-color:#fff;
    text-align: center;
    color: #1a1a1a;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    display: grid;
    padding: 1rem 2rem;
    background-color: #ff0055;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.contact form button:hover {
    background-color: #e6004c;
}

